/* resources/css/fonts.css */

/* Satoshi Light */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Light Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Italic (asumsi ini adalah Regular Italic) */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Italic.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Medium */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Medium Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Bold Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 750; /* Bold */
  font-style: italic;
  font-display: swap;
}

/* Satoshi Black */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 1000; /* Black */
  font-style: normal;
  font-display: swap;
}

/* Satoshi Black Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-BlackItalic.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: italic;
  font-display: swap;
}